.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}

.button:hover{
    -fx-background-color : #10165F;
}

.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color:  #00222B;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #00C9FF;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.TextField {
    -fx-text-fill: white;
}

.combo-box .list-cell 
{
    -fx-background:  #00000B;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-view 
{
    -fx-background-color:  #00000B,  #00000B;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-text-fill: white;
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-background-color:  #00000B;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background:  #00000B;
    -fx-background-color:  #00000B;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color:  #00000B;
    -fx-text-fill: white;
    -fx-text-inner-color: white;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color:  #00000B,  #00000B,  #00000B,  #00000B;
    -fx-padding: 0;
    -fx-text-fill: white;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
    -fx-text-fill: white;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
    -fx-text-fill: white;
}

.combo-box-base:focused {
    -fx-background-color:  #00000B;
    -fx-text-fill: white;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
    -fx-text-fill: white;
}
